#tf-contact
  .container
    .section-title
      %h3
      %hr ---
  .contact-#contact
    .contact-item.email saitouabcblue@icloud.com
    %p.contact-item or
    .contact-item.snsc
      %ul.list-inline
        %li
          =link_to 'https://www.facebook.com/daiki.saitou.9' do
            = fa_icon 'facebook', class: "facebook-icon"
        %li
          =link_to 'https://twitter.com/saitou311099' do
            = fa_icon 'twitter', class: "facebook-icon"
        %li
          =link_to 'https://github.com/saitou-daiki/saitoublog' do
            = fa_icon 'github', class: "facebook-icon"