.site-header
  .navi
    .navi_home
      %a.white{href: '#0',alt: "HOME",color: "white"}
        %span.nomal home
        %span.hover ホーム
        

      = form_with url: search_tweets_path,method: :get,local: true,class: "search-form" do |f| 
        = f.text_field :keyword,class: "search_query",placeholder: "記事を検索する",required: ""
        = button_tag type: 'submit', class: 'btn btn-primary' do
          %i.fa.fa-search.btn-icon

    %ul.navi_list{"data-turbolinks" => "false"}
      -if user_signed_in?
        %li
          =link_to new_tweet_path,class: "white" do

            %span.nomal new
            %span.hover 投稿する
        %li
          =link_to destroy_user_session_path, method: :delete,class: "white" do
        
            %span.nomal logout
            %span.hover ログアウト

        %li
          =link_to edit_user_path(current_user),class: "white" do
        
            %span.nomal edit
            %span.hover ユーザー編集

      -else
        %li
          %a.white{href: new_user_registration_path}
            %span.nomal registation
            %span.hover 新規登録
        %li
          %a.white{href: new_user_session_path}
            %span.nomal login
            %span.hover ログイン
      



      %li
        %a.white{href: '#list'}
          %span.nomal posts
          %span.hover 投稿一覧


      %li
        %a.white{href: '#about'}
          %span.nomal about
          %span.hover 自己紹介


      %li
        %a.white{href: '#portfolio'}
          %span.nomal portfolio
          %span.hover ポートフォリオ
      %li
        %a.white{href: '#contact'}
          %span.nomal contact
          %span.hover お問い合わせ先