

 .block{
  display:flex;
  flex-direction: column;
 }


.single-header {
  text-align: center;
    height: 128px;
    min-width: 768px;
    background-color: white;

    a {
      width: 185px;
      height: 49px;
      line-height: 49px;

      }

    a:hover{
      opacity: 0.5;
  
      p{
        text-decoration: blink;
        color: #0099e8;
      }
    }

    h1 {
      margin: 40px 0 0;
    }
      p{
        color: black;
    
      }
    //   span{
    //     font-size: 40px;
    //     bottom: 10px;
    //     color: black;
    // }


}

.single-main{
  padding-top: 50px;
  padding-bottom: 50px;
}

.l-single-container {

  width: 700px;
  margin: 0 auto;
  background-color: white;
}

.l-single-head{
  padding: 24px 8px;
    font-size: 18px;
    line-height: 1.5;
    text-align: center;
}

.sell-dropbox-container{
  display: block;
  // width: 620px;

  position: relative;
    min-height: 162px;
    background: #f5f5f5;
    border: 1px dashed #ccc;
    font-size: 0;
    text-align: center;
    -webkit-transition: -webkit-box-shadow ease-out .3s;
    transition: -webkit-box-shadow ease-out .3s;
    transition: box-shadow ease-out .3s;
    transition: box-shadow ease-out .3s, -webkit-box-shadow ease-out .3s;
    cursor: pointer;
    float: right;
    margin-left: 2%;
    margin-right: 2%;
}

.hidden{
  display: none;
}

.visible-pc{
    position: absolute;
    top: 50%;
    left: 16px;
    right: 16px;
    text-align: center;
    font-size: 14px;
    line-height: 1.5;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    pointer-events: none;
    white-space: pre-wrap;
    word-wrap: break-word;
}

.form-group{

  margin: 40px 0 0;

}

.textarea-default {
  display: block;
  width: 96%;
  max-width: 100%;
  min-height: 104px;
  padding: 10px;
  border: 1px solid #ccc;
  background: #fff;
  font-size: 16px;
  line-height: 1.5;

  margin-left: 2%;
  margin-right: 2%;

  border-radius: 4px;
}

.btn-default{
  display: block;
  width: 100%;
  line-height: 48px;
  font-size: 14px;
  border: 1px solid transparent;
  -webkit-transition: all ease-out .3s;
  transition: all ease-out .3s;
  cursor: pointer;
  text-align: center;

} 

.btn-red{
  background: #ea352d;
    border: 1px solid #ea352d;
    color: #fff;
}

.input-default{
  height: 48px;
  padding: 10px 16px 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: #fff;
  line-height: 1.5;
  font-size: 16px;

  width: 96%;

  margin-left: 2%;
  margin-right: 2%;

  // margin: 8px 0 0;
}

div {
  display: block;
}