// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.regi-btn{
  background-color: white;
  border: 1px solid black;
  border-radius: 5px;
  width: 96%;
  margin: 0 auto;
}